#footer{
    position:absolute;
    bottom:0;
    width:100%;
    font-size: 15px;
    color: skyblue;
    border-top-width: 5px;
    border-top-color: #140f0a;
    border-radius: 3px;
    }

#header{
border-bottom-width:5px;
border-top-color:#140f0a ;
border-radius: 3px;
}

#Title{
    font-size: 18px;
    color: skyblue;
}

.ui-icon-camera{
    width: 5px;
    height : 5px;
    position: relative;
    top:185px;
    left:28%;
    border-radius: 8px;
    
}

.ui-icon-eye{
    width: 3px;
    height: 3px;
    position: relative;
    top:97px;
    left: 56%;
    -webkit-border-radius: .3125em;
    border-radius:.3125em ;
    
}

#addlabel{
    position: relative;
    left:25%;
    top:180px;
    font-size: 14px;
    font-style: oblique;
}

#viewlabel{
    position: relative;
    left:52%;
    top: 91px;
    font-size: 14px;
    font-style: oblique;
    
}

#title{
position: relative;
left: 57px;
height: 50px;
width : 250px;
}

#backButton{
position:relative;
left:0px;
top:0px;
width:50px;
height:50px;
}