#footer{
    position:absolute;
    bottom:0;
    width:100%;
    font-size: 15px;
    color: skyblue;
    border-top-width: 3px;
    border-top-color: #140f0a;
    }

#header{
border-bottom-width: 3px;
border-top-color: #140f0a

}

#Title{
    font-size: 18px;
    color: skyblue;
}

.ui-icon-camera{
    width: 5px;
    height : 5px;
    position: relative;
    top:185px;
    left:28%;
    border-radius: 8px;
    
}

.ui-icon-eye{
    width: 3px;
    height: 3px;
    position: relative;
    top:97px;
    left: 56%;
    -webkit-border-radius: .3125em;
    border-radius:.3125em ;
    
}

#addlabel{
    position: relative;
    left:27%;
    top:180px;
    font-size: 14px;
}

#viewlabel{
    position: absolute;
    left:52%;
    top: 50%;
    font-size: 14px;
    
}